@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

h1 {
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    color: white;
    font-weight: bold;
    border-radius: 30px;
}

h6.card-title {
    color: #6c757d;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .display-4 {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 768px) {

    .be_statements {
        font-size: 17px;
        text-transform: uppercase;
    }
}
